html, body {
    margin: 0;
}

h1, h2, p {
    margin-block: auto;
}

button {
    background: transparent;
    color: white;
    border: none;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
}

.editBtn:hover {
    border-bottom: 1px solid goldenrod;
    -webkit-transition: all ease 1.7s;
    -moz-transition: all ease 1.7s;
    -ms-transition: all ease 1.7s;
    -o-transition: all ease 1.7s;
    transition: all ease 1.7s;
}

#wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    transition: all 2s ease-out;
}

#wrpper.bgImg {
    background-size: contain;
}

.hidden {
    display: none;
}

/* .name-wrap {

} */

.name-wrap input {
    border: none;
    background: transparent;
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.name-wrap input:focus {
    display: inline-block;
    border: none;
    outline: none;
    background: transparent;
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.btn-wrap {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;

}
.btn-wrap button {
    background: transparent;
    border-bottom: 1px solid #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    width: 150px;
    font-size: 25px;
    color: #ffffff;
    box-sizing: border-box;
}

.btn-wrap button:hover {
    transition: ease .8s;
    -webkit-transition: ease .8s;
    -moz-transition: ease .8s;
    -ms-transition: ease .8s;
    -o-transition: ease .8s;
    color: greenyellow;
    border-bottom: 1px solid goldenrod;
    box-sizing: border-box;
}


.bgImg {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
}

h2#clock {
    text-align: center;
    font-size: 140px;
    margin-top: 150px;
    color: #ffffff;
}

h1#greeting {
    text-align: center;
    font-size: 70px;
    color: #ffffff;
}

.todo-wrap {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    border-bottom: 1px solid darkorange;
    /* padding-bottom: 10px; */
    height: 50px;
}

.todo-wrap > input {
    border: none;
    background: transparent;
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    cursor: text;
}

.todo-wrap > input:focus {
    display: inline-block;
    border: none;
    outline: none;
    background: transparent;
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 100%;
}

#todo-list {
    margin-block: auto;
    margin-inline: unset;
    padding-inline-start: 0;
    list-style: none;
    text-align: center;
    margin-top: 30px;
    padding-left: 60px;
}

#todo-list li span:first-child {
    color: #ffffff;
    margin-right: 20px;
}

#quote {
    position: absolute;
    bottom: 10px;
    right: 40px;
    color: #ffffff;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.7s;
    -moz-transition:.7s;
    -ms-transition:.7s;
    -o-transition:.7s;
    transition:.7s;
    cursor: default;
}

#quote:hover {
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);   
    -o-transform:scale(1.05);
    transform:scale(1.05);
    color: blanchedalmond;
}

#quote span:first-child {
    display: block;
    text-align: left;
    font-size: 18px;
}

#quote span:last-child {
    display: block;
    text-align: right;
    font-size: 16px;
}

#weather {
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 25px;
    color: #ffffff;
}

@media all and (min-width: 768px) and (max-width:1023px) {
    h2#clock {
        margin-top: 230px;
        font-size: 100px;
    }

    h1#greeting {
        font-size: 50px;
        margin-top: 20px;
    }

    #todo-form {
        margin-top: 30px;
    }

    #quote {
        position: absolute;
        bottom: 30px;
        right: 0;
        left: 0;
    }
    #quote span:first-child {
        display: block;
        text-align: center;
        font-size: 18px;
    }
    
    #quote span:last-child {
        display: block;
        text-align: center;
        font-size: 16px;
    }
}

@media all and (max-width:767px) {
    h2#clock {
        margin-top: 130px;
        font-size: 60px;
    }

    h1#greeting {
        font-size: 40px;
        margin-top: 20px;
    }

    #todo-form {
        margin-top: 30px;
    }

    .todo-wrap {
        width: 90%;
        height: 30px;
    }

    #todo-list > li > span:first-child {
        display: inline-block;
        width: 140px;
    }

    .todo-wrap > input {
        font-size: 20px;
    }

    #quote {
        position: absolute;
        bottom: 40px;
        right: 0;
        left: 0;
    }
    #quote span:first-child {
        display: block;
        text-align: center;
        font-size: 16px;
    }
    
    #quote span:last-child {
        display: block;
        text-align: center;
        font-size: 14px;
    }
}